
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Roboto+Slab:wght@300;700&display=swap');
.App {
  text-align: center;
  background-color:#839695;
}
.navbar{
  background-color: #112B3E;
  overflow: hidden;
  height: 83px;
}
.container a{
 float: left;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 36px;
 font-weight: 700;
}
.row{
  display: flex;
}
.row > .col{
  background-color: #112B3E;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  line-height: 32px;
  color:aliceblue
}
.card-img{
  width: 420px;
  height: 299px;
}

a{
  text-decoration: none;
  color:rgb(169, 247, 247)
}
a:visited{
color: azure;

}
a:hover{
  color: #839695;
}